* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

nav {
    position: sticky;
    top: 0;
    background: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 100;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

.resume-btn {
    border: 1px solid #38bdf8;
    padding: 6px 12px;
    border-radius: 5px;
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 48px;
}

header p {
    margin-top: 10px;
    color: #94a3b8;
}

section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #38bdf8;
}

.project {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 12px;
    background: #38bdf8;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}